.active-button {
  background-color: #3a5da2 !important;
  color: #facc00 !important;
}

.base-button {
  background-color: white;
  color: lack;
  font: inherit;
  cursor: pointer;
  border-radius: 12px;
  margin-left: 100px;
  margin-right: 100px;
}
